.list {
    width : 300px;
    height: 50px;
    background-color: #b68973;
    margin: 20px auto;
    border-radius: 10px;
}

.list p{
    padding: 15px;
    position: relative;
}


.list p span{
    position:absolute;
    right: 10px;
}


.faicon{
    cursor: pointer;

}

.faicon:hover{
    transform: scale(1.3);
}

.noI{
    text-align: center;
    font-size:18px;
    color:#5b5b5b ;
}